@font-face {
    font-family: 'Rubik-Medium';
    src: url('/Rubik/Rubik-Medium.ttf');
}

@font-face {
    font-family: 'Rubik-Light';
    src: url('/Rubik/Rubik-Light.ttf');
}

.root {
    -fx-background-color: #ffffff;
    /*src: "https://fonts.googleapis.com/css?family=Rubik&display=swap";*/
    -fx-font-family: 'Rubik';
    -fx-font-weight: normal;
    -fx-focus-color: none;
}

.text-field {
    -fx-accent: #ffdf8a;
}

.table-view .text-field {
    -fx-accent: #ff8a00;
}

.main_title {
    -fx-text-fill: #3e3e3e;
    -fx-font-size: 15pt;
    -fx-font-weight: bold;
}


.text-field, .password-field {
    -fx-text-box-border: none;
    -fx-font-size: 10pt;
}

.button {
    -fx-font-size: 10pt;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, #d6d6d6, 8, 0, 0, 4);
    -fx-background-color: #ffdf8a;
    -fx-arc-height: 40;
    -fx-arc-width: 40;
}

.ybtn {
    -fx-background-color: #ffdf8a;
    -fx-arc-height: 40;
    -fx-arc-width: 40;
}

.ybtn:hover {
    -fx-background-color: #ff8a00;
    -fx-text-fill: white;
}

.wbtn {
    -fx-background-color: #ffffff;
    -fx-arc-height: 40;
    -fx-arc-width: 40;
}

.wbtn:hover {
    -fx-background-color: #3e3e3e;
    -fx-text-fill: #ffffff;
}

.table-view .button {
    -fx-background-color: #ffffff;
    -fx-text-fill: #d6d6d6;
    /*-fx-border-color: #d6d6d6;*/
    -fx-border-radius: 10;
}
.table-view .button:hover {
    -fx-background-color: #3e3e3e;
    -fx-text-fill: #ffffff;
    /*-fx-border-color: #3e3e3e;*/
    -fx-border-radius: 10;
}




.list-view .list-cell {
    -fx-background-color: #ffffff;
    -fx-font-size: 11pt;
    -fx-cursor: hand;
}

.list-view .list-cell:filled:hover, .list-view .list-cell:filled:selected {
    -fx-background-color: #FFDF8A;
    -fx-text-fill: #3e3e3e;
}

.combo-box {
    -fx-background-color: #FFDF8A;
    -fx-font-size: 11pt;
    -fx-cursor: hand;
}

.combo-box .list-cell:filled:hover, .combo-box .cell:selected {
    -fx-background-color: #FFDF8A;
    -fx-text-fill: #3e3e3e;
}




.table-view .column-header, .table-view .column-header-background .filler {
    -fx-background-color: #ffdf8a;
    -fx-table-cell-border-color: #ffdf8a;
    -fx-font-size: 11pt;
    -fx-font-weight: normal;
}


.table-view .table-cell {
    -fx-background-color: #ffffff;
    -fx-table-cell-border-color: #f3f3f3;
}

.table-view .table-cell:even {
    -fx-background-color: #f3f3f3;
    -fx-table-cell-border-color: #f3f3f3;
}



.table-row-cell:selected .table-cell{
    /*-fx-background-color: #ffdf8a;*/
    /*-fx-table-cell-border-color: #ffdf8a;*/
    -fx-text-fill: #3e3e3e;
    -fx-background-color: #FFEEBF;
    -fx-table-cell-border-color: #FFEEBF;
}

.table-row-cell, .table-cell {
    -fx-background-color: #ffffff;
    -fx-table-cell-border-color: #f3f3f3;
}

.table-row-cell:even {
    -fx-background-color: #f3f3f3;
    -fx-table-cell-border-color: #f3f3f3;
}

TextFieldTableCell > *:focused  {
    /*-fx-background-color: #FF8A00;*/
    /*-fx-table-cell-border-color: #FF8A00;*/
    -fx-background-color: #ffdf8a;
    -fx-table-cell-border-color: #ffdf8a;
}





.date-picker {
    -fx-background-color: #ffdf8a;
    -fx-font-size: 13pt;
}

.date-picker .date-cell {
    /*-fx-background-color: #0000ff;*/
    -fx-background-radius: 40;
    -fx-background-insets: 6 6 6 6 ;
    -fx-cursor: hand;
}

.date-picker .date-cell:hover, .date-picker .selected {
    /*-fx-background-color: #ffdf8a;*/
    -fx-background-color: #ff8a00;
    -fx-text-fill: #ffffff;
}

.date-picker-popup .previous-month,
.date-picker-popup .next-month {
    -fx-background-color: #d6d6d6;
}

.date-picker .day-name-cell:hover {
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
    -fx-cursor: default;
}

.date-picker .today {
    -fx-background-color: #ffdf8a;
    -fx-text-fill: #000000;
}

.date-picker > .text-field {
    -fx-background-color: #ffffff;
    -fx-background-insets: 1 0 1 1;
    -fx-background-radius: 2 0 0 2;
}

.userInfoText {
    -fx-text-fill: #3e3e3e;
    -fx-font-size: 13pt;
}

.userInfoTextBold {
    -fx-text-fill: #3e3e3e;
    -fx-font-size: 13pt;
    -fx-font-weight: bold;
}

.choice-box, .date-picker, check-box, radio-button {
    -fx-background-color: whitesmoke;
    -fx-cursor: hand;
}

.error {
    -fx-text-fill: #FF5200;
}


